*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: VCR;
    src: url("assets/fonts/VCR_OSD_MONO_1.001.ttf");
}
body{
    background: black;
    overflow: hidden;
    font-family: VCR;
}
#canvas{
    position: absolute;
    image-rendering: pixelated;
    image-rendering: optimizespeed;
    background: darkblue;
    width: 100%;
    height: 100%;
}
#bar{
    z-index: 100;
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: azure;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#money{
    padding-left: 15px;
    width: fit-content;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#open-shop, #open-stash, #open-orders, #open-spin{
    margin-right: 15px;
    border: none;
    background-color: rgb(75, 112, 225);
    color:aliceblue;
    width: 8vh;
    height: 5vh;
    font-family: VCR;
}
#shop-wrap, #stash-wrap, #orders-wrap, #spin-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.244)
}
#shop, #stash, #orders, #spin{
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}
#closeShop, #closeStash, #closeOrders, #closeSpin{
    float: right;
    border: none;
    background-color: rgb(225, 75, 75);
    color:aliceblue;
    width: 5vh;
    height: 5vh;
    font-family: VCR;
}
#stash-bar, #orders-bar{
    width: 100%;
    height: 5vh;
}
.buybutton, .complete-order{
    border: none;
    background-color: gainsboro;
    width: 100%;
    height: 5%;
    font-family: VCR;
}
.complete-order{
    height: 30px;
}
.complete-order.unlocked{
    background-color: rgb(147, 221, 35);

}
.unlocked-item{
    color: rgb(98, 158, 9);
}
.stash-item{
    width: 33%;
    aspect-ratio: 1/1;
    background-color: gray;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    border: 2px solid black;
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center;
}
.stash-sell{
    float:inline-end;
    width: fit-content;
    border: none;
    background-color: gainsboro;
    height: fit-content;
    font-family: VCR;
}
.sell-wrap{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
.stash-slider{
    width: 60%;
}
.res-wrap{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;

}
.res-img{
    image-rendering: pixelated;
    width: 20px;
    aspect-ratio: 1/1;
}
.order-res{
    display: flex;
    flex-direction: row;
}
.order{
    border: 5px solid black;
}
.order-price{
    text-align: center;
}
#container {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 6px solid rgb(182, 32, 32);
    position: relative;
    overflow: hidden;
    transition: 5s;
}
.arrow{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.arrow::before {
    content: '\1F817';
    font-size: 50px;
}
#spin-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #e2e2e2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}
#centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.spinwheel-wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}