*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
    overflow: hidden;
}
#canvas{
    image-rendering: pixelated;
    image-rendering: optimizespeed;
    background: darkblue;
    width: 100%;
    height: 100%;
}
#fps{
    position: absolute;
}