*{
    padding: 0;
    margin: 0;
}
* {
    user-select: none
}
    
@font-face {
    font-family: VCR;
    src: url("assets/fonts/VCR_OSD_MONO_1.001.ttf");
}
body{
    background: black;
    overflow: hidden;
    font-family: VCR;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
#canvas{
    position: absolute;
    image-rendering: pixelated;
    background: darkblue;
    width: 100%;
    height: 100%;
}
#bar {
    z-index: 100;
    position: absolute;
    width: 40px; /* Изменяем ширину на 40px, так как компонент теперь вертикальный */
    height: 100%; /* Высота на 100%, чтобы занять всю высоту родителя */
    background-color: azure;
    display: flex;
    flex-direction: column; /* Добавляем, чтобы элементы внутри компонента располагались вертикально */
    align-items: center;
    justify-content: space-between;
    top: 0; /* Чтобы компонент начинался с верхней части родителя */
    right: 0; /* Чтобы компонент был прижат к правому краю родителя */
}
#money{
    padding-left: 15px;
    width: fit-content;
}

/*         SHOP       */
#shop{
    background-color: aliceblue;
    width: 33%;
    height: 95%;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    background-color: transparent;
    transition: transform 1s ease-out, opacity 1s ease-out;
}
#shop-bar {
    z-index: 100;
    position: absolute;
    width: 38%;
    background-color: azure;
    display: flex;
    flex-direction: column; /* Элементы внутри компонента располагаются вертикально */
    align-items: center;
    justify-content: flex-start; /* Выравнивание элементов по началу вертикальной оси */
    top: 0; /* Компонент начинается с верхней части родителя */
    right: 0; /* Компонент прижат к правому краю родителя */
}
#shop-list{
    width: 62%;
    position: absolute;
}
.shop-item {
    background-color: aliceblue; /* будет картинка заднего фона */
    width: 100%; /* Занимает всю ширину родителя */
    display: flex;
    flex-direction: column; /* Располагаем содержимое shop-item вертикально */
    align-items: center; /* Центрируем содержимое по горизонтали */
}
.slide-out { /* для плавного закрытия shop */
    transform: translateX(-100%);
    opacity: 0;
}

/*      ОБЩИЕ СТИЛИ ДЛЯ КНОПОК, WRAP, MENU(ВСЁ ЧТО ОДИНАКОВОЕ)      */
.item-image { /* используется в shop, stash, animal(корм) */
    display: block;
    max-width: 100%;
    height: 80px;
    margin: 0 auto 10px;
    image-rendering: pixelated;
}
.craft-item-image { /* используется в buildingMenu, fieldMenu для div */
    height: 80px;
    width: 80px; /* Укажите ширину, чтобы изображение не повторялось */
    margin: 0 0 10px 0; /* Обнулите все отступы и добавьте нижний отступ */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: contain; /* Или используйте 'cover', если вам нужно, чтобы изображение покрывало весь элемент */
    background-position: center;
    left: 0;
}
.clone-image { /* используется везде где вытягивается картинка */
    position: absolute;
    pointer-events: none; /* Чтобы клон не перехватывал события мыши */
    z-index: 1000; /* Размещаем клон поверх других элементов */
}
.menu-big-img{ /* большая картинка в менюшках */
    display: block;
    height: 150px;
    aspect-ratio: 1; /* пропорциональная ширина (1:1) */
    margin: 0 auto 10px;
    image-rendering: pixelated;
}
#open-shop, #open-stash, #open-orders, #open-spin{
    margin-right: 15px;
    border: none;
    background-color: rgb(75, 112, 225);
    color:aliceblue;
    width: 8vh;
    height: 5vh;
    font-family: VCR;
}
#shop-wrap, #stash-wrap, #spin-wrap, #building-menu-wrap, #animal-menu-wrap, #field-menu-wrap, #bush-menu-wrap, #booster-menu-wrap, #obstacle-menu-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.244)
}
#stash, #spin, #building-menu, #animal-menu, #field-menu, #bush-menu, #booster-menu, #obstacle-menu{
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}
#closeShop, #closeStash, #closeSpin, #close-building-menu, #buy-building, #buy-plant, #close-animal-menu, #buy-animal, #close-field-menu, #close-bush-menu, #close-booster-menu, #close-obstacle-menu{
    float: right;
    border: none;
    background-color: rgb(225, 75, 75);
    color:aliceblue;
    width: 5vh;
    height: 5vh;
    font-family: VCR;
}
#stash-bar, #building-menu-bar, #animal-menu-bar, #field-menu-bar, #bush-menu-bar, #booster-menu-bar, #obstacle-menu-bar{
    width: 100%;
    height: 5vh;
}
/*     STASH     */
#stash-list, #booster-list {
    display: flex;
    flex-wrap: wrap;
}   
.stash-item{
    width: 30%;
    aspect-ratio: 1/1;
    background-color: gray;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    border: 2px solid black;
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center;
}

/*         SPIN      */
#spin-container {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 6px solid rgb(182, 32, 32);
    position: relative;
    overflow: hidden;
    transition: 5s;
}
.arrow{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.arrow::before {
    content: '\1F817';
    font-size: 50px;
}
#spin-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #e2e2e2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}
#spin-centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.spinwheel-wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spin-image,.spin-text {
    image-rendering: pixelated;
    width: 30px;
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Сдвигаем изображение к центру по вертикали */
    left: 50%; /* Сдвигаем изображение к центру по горизонтали */
    transform: translate(-50%, -200%); /* Сдвигаем изображение влево и вверх от центра */
}
.spin-text{
    transform: translate(-50%, -100%);
}

/*        BUILDING       */
#building-menu-list, #booster-list{
    display: flex;
    flex-wrap: wrap;
}
.craft {
    width: 25%;
    box-sizing: border-box;
    margin-left: 5px;
}
.craft-drop-list {
    margin-bottom: 10px;
}
.drop-item {
    display: flex; /* выстраиваем элементы в строку */
    align-items: center; /* выравнивание по центру */
    margin-bottom: 10px; /* отступ между элементами */
}
.queue-elem {
    width: 80px;
    height: 100px;
    border: 1px solid black;
    display: inline-block; /* Выравнивание элементов в один ряд */
    box-sizing: border-box; /* Учитывать рамку в общей ширине и высоте элемента */
    margin: 0 0 10px 0; /* Обнулите все отступы и добавьте нижний отступ */
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: contain; /* Или используйте 'cover', если вам нужно, чтобы изображение покрывало весь элемент */
    background-position: center; /* Центрирование изображения */
    position: relative;
}
.craft-drop-list {
    display: none;
    position: absolute;
    background-color: #f2f2f2; /* приятный задний фон */
    border-radius: 10px; /* плавные углы */
    padding: 10px; /* внутренний отступ */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Убедитесь, что меню отображается поверх других элементов */
}
.drop-list-img{
    display: block;
    max-width: 100%;
    height: 40px;
    margin: 0 auto 10px;
    image-rendering: pixelated;
}
.drop-items-amount{
    color: rgb(55, 172, 55);
}
.drop-items-amount.insufficient {
    color: red; /* красный цвет если недостаточно ресурсов */
}
.drop-list-text {
    margin-bottom: 5px; /* отступ снизу для разделения */
    font-size: 18px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
    color: #333; /* темно-серый цвет */
    text-align: center;
}
.queue-text {
    position: absolute;
    bottom: 0; /* Текст будет находиться внизу элемента */
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 18px; /* Подберите размер текста по вашему вкусу */
}

/*     FIELD   */
#field-menu-list {
    display: flex;
    flex-wrap: wrap;
}
#field-img-container{
    position: relative;
    width: 150px; /* Должна соответствовать высоте основной картинки */
    margin: 0 auto;
}
#overlay-plant-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    pointer-events: none;
}

/*        PROCESS-LINE AND TIME для всех будут общие, ещё добавить сюда здание и куст*/
#animal-process-line, #field-process-line, #bush-process-line {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}
.progress {
    height: 100%;
    background-color: green;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#animal-timeToFinish, #field-timeToFinish, #waterer-price, #bush-timeToFinish{
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0;
    font-size: 18px; /* Подберите размер текста по вашему вкусу */
}

/*       ORDER      */
#orders-wrap {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#orders {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#orders-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
#closeOrders {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#order-details {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
#orders-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #f0f0f0;
}
.order {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s;
}
.order:hover {
    transform: scale(1.05);
}
.order-price {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.order-res {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.res-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.res-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    image-rendering: pixelated;
}
.unlocked-item {
    color: green;
}
.complete-order {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100%;
    height: 7%;
}
.complete-order.unlocked {
    background-color: #28a745;
}
.complete-order:hover {
    background-color: #0056b3;
}
.complete-order.unlocked:hover {
    background-color: #218838;
}
.booster-button {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор указывает, что это кнопка */
    font-size: 16px; /* Размер текста */
}

.booster-button:disabled {
    background-color: #ccc; /* Серый фон, когда кнопка отключена */
    color: #666; /* Темно-серый текст */
    cursor: not-allowed; /* Курсор указывает, что кнопка неактивна */
}
